
body{
    display: flex;
    flex-direction: row;
    background: linear-gradient(-45deg, #8980db, #06acff);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#linea{
    height: 400px;
    background-color: #104255;
    width: 4px;
    border-radius: 50%;
}

@keyframes gradient {
    0% {
        background-position: 100% 50%;
        
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

main:nth-of-type(1){
    
}

main:nth-of-type(1) p{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 500px;
    background: #38bafbbe;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -10px;
}

main h1{
    color: #0370a6;
    text-shadow: 0px 0px 0px black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}

main section{
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#104255;
}

main section label{
    margin-left: 5px;
    margin-bottom: 5px;
}

main section input{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border-style:hidden;
    box-shadow: 0px 0px 20px -10px;
    padding-left: 10px;
    padding-right: 10px;
}
main button{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border-style: hidden;
    background-color: #0370a6;
    color: #c7ecff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 10px;
    transition-duration: 0.3s;
}

main button:hover{
    transform: scale(1.01);
    background-color: #0f81bb;
}

main a{
    color: #c7ecff;
    text-decoration: solid;
    transition-duration: 0.3s;
}

main a:hover{
    color: #e4f1f7;
    text-shadow: 0px 0px 1px white;
}

main p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#104255;
    margin-top: 30px;
}

#volver{
    background-color: #269ad4;
    font-weight: bolder;
}


