* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

.muros{
    background-color: #239ad5;
    height: 3000px;
    width: 50%;
    position: absolute;
    z-index: 20;
    box-shadow: 0px 0px 40px 1px;
    top:0;
}

#muro1 {
    left: 0;
    animation: movimiento 1.5s forwards ease-in-out;
}

#muro2 {
    right: 0;
    animation: movimiento 1.5s forwards ease-in-out;
}

@keyframes movimiento {
    from {
        width: 50%;
    }
    to {
        width: 0%;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 86.5vh;
    animation: zoomout 1.5s forwards ease-in-out;
    
}

@keyframes zoomout {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}


header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(-45deg,#ee7752, #8980db, #23a6d5, #239ad5);
    height: 300px;
    color: aliceblue;
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header section:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
}

header section:nth-of-type(1) h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

header section:nth-of-type(1) nav {
    display: flex;
    align-items: center;
}

header section:nth-of-type(1) nav>a {
    padding: 10px;
    margin-right: 30px;
    padding: 12px;
    padding-right: 30px;
    padding-left: 30px;
    transition-duration: 0.3s;
    border-radius: 50px;
}

header section:nth-of-type(1) nav div {
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.27);
    border-radius: 100px;
    padding: 3px;
}

header section:nth-of-type(1) nav div a {
    padding: 10px;
    text-align: center;
    padding: 7px 20px 10px 20px;
    transition-duration: 0.3s;
}

header section:nth-of-type(1) nav div a:nth-of-type(1):hover {
    text-shadow: 0px 0px 3px white;
}

header section:nth-of-type(1) nav div a:nth-of-type(2):hover {
    text-shadow: 0px 0px 10px rgb(165, 218, 255);
    background-color: rgb(109, 191, 241);
}

header section:nth-of-type(1) nav>a:hover {

    background-color: rgba(0, 0, 0, 0.25);
}

header section:nth-of-type(1) nav div a:nth-of-type(2) {
    background-color: rgb(23, 158, 255);
    border-radius: 100px;
}

header section:nth-child(1) a {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    justify-content: space-around;
    margin-top: 30px;
}


header section:nth-of-type(2) div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aliceblue;
    border-radius: 100px;
    width: 500px;
    max-width: 80%;
    height: 40px;
    transition-duration: 0.5s;
}

header section:nth-of-type(2) div:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 20px 0px white;
}


header section:nth-of-type(2) p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 350px;
    max-width: 80%;
    text-align: center;
}

header section:nth-of-type(2) div input {
    background-color: aliceblue;
    border: 0px none;
    height: 90%;
    width: 90%;
    padding: 10px;
    border-radius: 0px 100px 100px 0px;
    align-self: center;
    outline: none;
}

header section:nth-of-type(2) div input::placeholder {
    color: rgb(174, 174, 174);
}

header section:nth-of-type(2) div img {
    width: 35px;
    padding-left: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

main section {
    margin-top: 30px;
    width: 80%;
    position: relative;
}

main section section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main section section p {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 200px;
    justify-content: end;
    padding: 5px;
    border-radius: 0px 50px 50px 0px;
    transition-duration: 1s;
    color: rgb(35, 101, 114);
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(146, 199, 233, 0.4));
}

main section section p:hover {
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(146, 199, 233, 1));
}

nav img{
    display: none;
    width: 40px;
}

main section section p img {
    width: 20px;
}

main section h1 {
    margin-left: 30px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

main section>div {
    display: flex;
    flex-direction: row;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 20px;
}

main section>img:hover {
    transform: scale(1.2);
}

main section>div ::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
main section>div {

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.objeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 20px 0px rgb(132, 132, 132);
    margin: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.objeto:hover{
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    background-color: rgba(234, 234, 234, 0.574);
}

.objeto p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}

.objeto p:nth-of-type(1) {
    margin-top: 5px;
    margin-bottom: 5px;
}

.objeto p:nth-of-type(2) {
    margin-bottom: 10px;
}

.objeto div {
    position: relative;
    border-radius: 10px 10px 0px 0px;
}

.objeto div h3 {
    position: absolute;
    bottom: 4px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: rgba(53, 58, 84, 0.777);
    color: white;
    box-shadow: 0px -10px 40px -6px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.objeto img {
    width: 300px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

footer {
    color: rgb(238, 238, 238);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.556);
    position: relative;
    background: linear-gradient(-45deg,#52e1ee, #8980db, #23a6d5, #239ad5);
    background-size: 400% 400%;
    animation: gradient ease 20s infinite;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 150px;
    margin: 0 auto;
    padding: 40px;
    margin-bottom: 19px;
}

footer section div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    text-align: right;
}

footer section div:nth-of-type(1) * {
    margin-bottom: 10px;
}

footer section div:nth-of-type(2) a:hover {
    text-decoration: underline;
}

footer>p {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 5px;
    background-color: rgb(162, 183, 220);
    color: rgb(84, 84, 84);
}

footer section:nth-of-type(1) h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 30px;
}

.iDerecha {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 30px 4px;
    z-index: 2;
    right: 30px;
    bottom: 32%;
    transition-duration: 0.6s;
    background-color: rgba(71, 109, 142, 0.679);
}

.sDerecha{
    width: 100px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.629));
    position: absolute;
    height: 226px;
    right: 0px;
    bottom: 10px;
    z-index: 2;
    border-radius: 0px 10px 10px 0px;
}

.iIzquierda {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 30px 4px;
    z-index: 2;
    left: 30px;
    bottom: 32%;
    transition-duration: 0.6s;
    transform: rotate(180deg);
    background-color: rgba(71, 109, 142, 0.679);
}

.sIzquierda{
    width: 100px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.629));
    position: absolute;
    height: 226px;
    left: 0px;
    bottom: 10px;
    z-index: 2;
    border-radius: 10px 0px 0px 10px;
}

.iDerecha,
.sDerecha,
.iIzquierda,
.sIzquierda {
    animation: aparecer 0.3s ease-in-out forwards;
}

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (min-width:800px) {
    header section:nth-of-type(1) nav div {
        display: flex;
    }
}

@media (max-width:800px) {

    nav img{
        display: block;
        width: 60px;
        padding: 10px;
        border-radius: 10px;
        transition-duration: 0.4s;
    }

    nav img:hover{
        background-color: rgba(0, 0, 0, 0.27);
    }

    .cambios{
        border-radius: 10px;
        border-radius: 10px 10px 0px 0px;
        background-color: rgba(0, 0, 0, 0.27);
    }

    header section:nth-of-type(1) nav div{
        display: flex;
        flex-direction:column;
        border-radius: 10px 0px 10px 10px;
        position: absolute;
        right: 30px;
        top: 80px;
    }

    header section:nth-of-type(1) nav>a {
        margin: 0px;
        margin-right: 10%;
        padding-right: 7px;
        padding-left: 7px;
    }

    footer{
        height: 350px;
    }
    footer section{
        margin-left: 10px;
        margin-right: 10px;
        margin: 0 auto;
        width: 90%;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }

    footer section div:nth-of-type(2) * {
        text-align: center;
    }
    footer section div:nth-of-type(2){
        margin-top: 30px;
    }
    
    header nav{
        width: 150px;
        justify-content: space-between;
    }
}
